*{	
	border: 1px solid red;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

.box1{
height: 50px;
background-color: salmon;

}

.box2{
	height: 15px;
	background-color: red;
	width: 80%;
}
.box3{
	height: 5px;
	background-color: blue;
}

h1{
	/*display: inline;*/
}

span{
	background-color: lightblue;
	display: block;
	width: 20%;
	margin: 0 auto;
}

/*.box4{
	height: 500px;
	background-color: lightblue;
}*/

.box4 > h1{
	text-align: center;
	background-color: salmon;
	margin: 50px;
}

.box5{
	min-height: 100px;
	/*height: 100px;*/
	background-color: yellow;

}

.box6, .box7{
	min-height: 50px;
	/*height: 50px;*/
	width: 50%
}

.box6{
	background-color: lightblue;
}
.box7{
	background-color: cyan;
}

.box7 > p{
	padding: 0 30px;
	width: 100%;
}
.overflow{
	height: 20px;
	color: indianred;
	width: 120%;
}